.container-cards {
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.heartOut {
  margin: 5px 280px 0px 5px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(195, 192, 192);
  padding: 5px;
  cursor: pointer;
}
.heartOut:hover {
  background-color: rgb(128, 123, 123);
}
.likeOuts {
  font-size: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(195, 192, 192);
  padding: 5px;
  cursor: pointer;
}
.likeOuts:hover {
  background-color: rgb(128, 123, 123);
}
.icons-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 80%;
  margin: 10px auto;
  padding: 0;
}
