.navbar {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}
.icon-bars {
  max-width: 30px;
  max-height: 40px;
  z-index: 999;
  margin-top: 10px;
  cursor: pointer;
}
.icon-bars-fav {
  max-width: 30px;
  max-height: 40px;
  z-index: 999;
  margin-top: 10px;
}
.menu-bars {
  margin-left: 3rem;
  font-size: 1.5rem;
  background: none;
  display: flex;
}
.menu-bars-fav {
  margin-left: 3rem;
  font-size: 1.5rem;
  background: none;
  display: flex;
  align-items: center;
}
.menu-bars-fav-close {
  margin-left: 18rem;
  font-size: 1.5rem;
  background: none;
  display: flex;
}
.bars-text {
  font-size: 26px;
  font-weight: 600;
  padding-left: 10px;
  align-items: center;
  display: flex;
  transform: translate(0, 30%);
  color: #000;
  letter-spacing: 1.2px;
  font-family: "Alegreya Sans SC", sans-serif;
}
.bars-text-fav {
  font-size: 26px;
  font-weight: 600;
  padding-left: 10px;
  align-items: center;
  display: flex;
  transform: translate(0, 30%);
  color: #000;
  letter-spacing: 1.2px;
  font-family: "Alegreya Sans SC", sans-serif;
}
.icon-img {
  margin-left: 15%;
  max-width: 120px;
  max-height: 85px;
  align-items: center;
  cursor: pointer;
}
.nav-menu {
  z-index: 888;
  background-color: #212121;
  max-width: 55%;
  padding-right: 100px;
  padding-top: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  display: block;
  overflow-y: scroll;
  overflow-x: hidden;
}
.user-outlined {
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
  margin: auto 0;
  z-index: 2;
  border: none !important;
  font-size: 22px !important;
  font-weight: bold !important;
}
.nav-menu-fav {
  z-index: 8888;
  background-color: #f8f8f8;
  max-width: 100%;
  padding: 50px 70px;
  height: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 850ms;
  display: block;
  overflow-y: scroll;
  overflow-x: hidden;
}
.fav-title {
  /* padding-right: 100px; */
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 36px;
  font-weight: 700;
  border-bottom: 1px grey solid;
}
.fav-text {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 24px;
  font-weight: 500;
}
.btn-fav {
  border: 1px solid rgb(18, 120, 74);
  border-radius: 25px;
  padding: 6px 30px;
  font-size: 24px;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 600;
  color: rgb(18, 120, 74);
  transition: 1s;
}
.btn-fav:hover {
  background-color: rgb(18, 120, 74);
  color: white;
}
.icon-fav {
  transform: translate(70%, 40%);
}
.heart {
  cursor: pointer;
}
.heart:hover {
  fill: rgb(18, 120, 74);
}
.fav-close-block {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
}
.fav-close-block:hover {
  border: 1px solid rgb(18, 120, 74);
}
.nav-menu::-webkit-scrollbar {
  width: 0px;
}
.nav-menu-fav::-webkit-scrollbar {
  width: 0px;
}

.menu-right {
  display: flex;
  justify-content: space-between;
}
.menu {
  cursor: pointer;
  margin-right: 40px;
  align-items: center;
  display: flex;
}
.close {
  max-width: 30px;
  min-height: 30px;
}
.menu img {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.menu p {
  padding-left: 10px;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
  transform: translate(0, 35%);
  font-family: "Alegreya Sans SC", sans-serif;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}
.nav-menu-fav.active-fav {
  right: 0;
  transition: 350ms;
}
.icon-img-menu {
  margin-top: -30px;
  margin-right: 40%;
}
.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
  font-family: "Alegreya Sans SC", sans-serif;
}

.nav-menu-items {
  width: 100%;
  margin-left: 100px;
}

.navbar-toggle {
  background-color: #212121;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

span {
  margin-left: 16px;
}
.mySwiper {
  margin-top: 80px;
  margin-bottom: 50px;
}
.slide-block {
  width: 227px;
  height: 100%;
}
.slide-img {
  width: 100%;
  height: 100%;
}
.menu-links {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: space-between;
  max-width: 80%;
}
.menu-links-item {
  font-size: 26px;
  font-weight: normal;
  color: white;
  cursor: pointer;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 600;
}
.slide-block-text {
  margin-top: 15px;
  font-size: 24px;
  font-family: "Alegreya Sans SC", sans-serif;
  color: #fff;
  text-transform: uppercase;
}
@media (max-width: 900px) {
  .menu p {
    display: none;
  }
}
@media (max-width: 900px) {
  .menu p {
    display: none;
  }
  .icon-img {
    margin-left: 0%;
  }
  .nav-menu-items {
    margin-left: 25px;
  }
  .nav-menu {
    max-width: 90%;
    padding-right: 50px;
  }
  .menu-links {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .nav-menu {
    max-width: 90%;
    padding-right: 50px;
  }
  .icon-img-menu {
    margin-right: 20%;
  }
}
@media (max-width: 580px) {
  .bars-text {
    display: none;
  }
  .icon-img {
    max-width: 80px;
    max-height: 65px;
  }
  .menu img {
    width: 18px;
    height: 18px;
  }
  .icon-bars {
    max-width: 25px;
    max-height: 30px;
  }
}
@media (max-width: 480px) {
  .fav-title {
    font-size: 26px;
  }
  .fav-text {
    font-size: 20px;
  }
  .btn-fav {
    font-size: 20px;
  }
  .fav-close-block {
    margin-left: -150px;
    margin-bottom: 50px;
  }
}
@media (max-width: 400px) {
  .bars-text {
    display: none;
  }
  .icon-img {
    max-width: 60px;
    max-height: 45px;
  }
  .menu img {
    width: 14px;
    height: 14px;
  }
  .icon-bars {
    max-width: 20px;
    max-height: 30px;
  }
}
