.search-block {
  display: flex;
  margin: 0 auto;
}
.input-content {
  width: 90%;
}
.input {
  margin-left: 20px;
  padding: 10px;
  border-radius: 20px;
  outline: none;
  border: 1px solid black;
  transition: 1s;
  width: 100%;
  font-size: 22px;
  font-weight: 600;
  font-family: "Alegreya Sans SC", sans-serif;
}
.search-class {
  width: 25px;
  height: 25px;
}
@media (max-width: 480px) {
  .search-class {
    width: 18px;
    height: 18px;
  }
  .input {
    font-size: 16px;
    font-weight: 500;
    padding: 5px 15px;
  }
}
