.yachtMaster {
  background-color: rgb(212, 209, 209);
  margin: 0;
  padding: 0;
  height: 50vw;
  display: flex;
  justify-content: space-around;
}
.card-div {
  text-align: center;
  width: 350px;
  height: 410px;
  margin: 50px 10px 20px;
  background-color: white;
  display: inline-block;
  overflow: hidden;
}
.card-div-img {
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
  transition: 1s;
  display: block;
}
.card-div-img:hover {
  transform: scale(1.1);
}
.example {
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}
